extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/sort.pug

block main
  - if (messages.success)
    .alert.alert-success #{messages.success}

  h1.mb-4 Danh sách sản phẩm

  .card.shadow.mb-4
    .card-header.bg-light.text-dark Bộ lọc và Tìm kiếm
    .card-body
      .row.align-items-center
        .col-4
          +filter-status(filterStatus)
        .col-4
          +search(keyword)
        .col-4
          +sort()

  .card.shadow.mb-4
    .card-header.bg-primary.text-white Danh sách sản phẩm
    .card-body
      .row
        .col-8
          +form-change-multi(`${prefixAdmin}/products/change-multi?_method=PATCH`)
        .col-4.text-right
          a.btn.btn-success(href=`${prefixAdmin}/products/create`)
            i.fas.fa-plus.mr-1
            | Thêm sản phẩm mới

      .table-responsive
        table.table.table-bordered.table-hover.mt-3.align-middle(checkbox-multi)
          thead.bg-light
            tr
              th(style="width: 50px")
                input(type="checkbox" name="checkall")
              th(style="width: 60px") STT
              th(style="width: 120px") Hình ảnh
              th(style="min-width: 250px") Tiêu đề
              th(style="width: 120px") Giá
              th(style="width: 80px") Vị trí
              th(style="width: 120px") Trạng thái
              th(style="width: 160px") Hành động
          tbody
            each item, index in products
              tr
                td
                  input(type="checkbox" name="id" value=item.id)
                td #{index + 1}
                td
                  img(src=item.thumbnail, style="width: 80px; height: 80px; object-fit: cover; border-radius: 5px;" alt=item.title)
                td
                  h6(style="margin-bottom: 0; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; word-break: break-word;")
                    | #{item.title}

                td.font-weight-bold #{item.price}$
                td
                  input(
                    type="number" value=item.position
                    class="form-control form-control-sm text-center"
                    min ="1"
                    name ="position"
                  )
                td
                  if item.status === 'inactive'
                    a(
                      href="javascript:void(0);"
                      data-status = item.status
                      data-id = item.id
                      button-change-status
                    ).badge.badge-danger.p-2 Dừng hoạt động
                  else if item.status === 'active'
                    a(
                      href="javascript:void(0);"
                      data-status = item.status
                      data-id = item.id
                      button-change-status
                    ).badge.badge-success.p-2 Hoạt động
                td
                  div(style="display: flex; gap: 5px;")
                    a.btn.btn-secondary.btn-sm(href=`${prefixAdmin}/products/detail/${item.id}`)
                        i.fas.fa-eye
                    a.btn.btn-warning.btn-sm(href=`${prefixAdmin}/products/edit/${item.id}`)
                        i.fas.fa-pencil-alt
                    button.btn.btn-danger.btn-sm(button-delete data-id=item.id)
                        i.fas.fa-trash

      +pagination(pagination)

  form(
    action=""
    method="POST"
    id="form-change-status"
    data-path=`${prefixAdmin}/products/change-status`)
  form(
    action=""
    method="POST"
    id="form-delete"
    data-path=`${prefixAdmin}/products/delete`)

  script(src="/admin/js/product.js")